In [19]:
count = 0
while  count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [20]:
x = 0
while x < 9:
    x += 1
    print(x)

1
2
3
4
5
6
7
8
9

In [21]:
count = 0
while count < 5:
    print(count)
    count += 1
else:
    print(count)

0
1
2
3
4
5

In [22]:
count = 0
while count < 5:
    print(count)
    count += 1
    if count == 4:
        break

0
1
2
3

In [26]:
numbers = [0, 1, 2, 3, 4, 5]
for number in numbers:
    print(number)

0
1
2
3
4
5

In [27]:
language = 'Python'
for lang in language:
    print(lang)

P
y
t
h
o
n

In [30]:
for i in range(len(language)):
    print(language[i])

P
y
t
h
o
n

In [33]:
for x in range(len(language)):
    print(language)

Python
Python
Python
Python
Python
Python

In [39]:
n_m = (0, 1, 2, 3, 4, 5)
for x in n_m:
    print(x)

0
1
2
3
4
5

In [59]:
person_info = {
    'f_name': 'Daniel',
    'l_name': 'Ucheh',
    'country': 'Nigeria',
    'is_married': False,
    'age': 21,
    'skills': ['JavaScript', 'React', 'Redux', 'Python', 'CSS'],
    'address': {
        'city': 'Abuja',
        'street': 'Hawad Marculay central Area 11',
        'zip': '6555666'
    }
}

for key in person_info:
    print(f'{key}')

f_name
l_name
country
is_married
age
skills
address

In [57]:
for x, y in person_info.items():
    print(x, y)

f_name Daniel
l_name Ucheh
country Nigeria
is_married False
age 21
skills ['JavaScript', 'React', 'Redux', 'Python', 'CSS']
address {'city': 'Abuja', 'street': 'Hawad Marculay central Area 11', 'zip': '6555666'}

In [67]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
for company in it_companies:
    print(company)

IBM
Google
Amazon
Facebook
Microsoft
Oracle
Apple

In [68]:
numb = (0,1,2,3,4,5)
for n in numb:
    print(n)
    if n == 3:
        break

0
1
2
3