In [35]:
person = {
    'firstname': "Al'amin",
    'lastname' : 'Nababa',
    'age' : 210,
    'country' : 'Nigeria',
    'state' : 'Kano',
    'is_married' : False,
    'skills' : ['HTML', 'CSS', 'JavaScript', 'Python'],
    'address' : {
        'street' : 'Space street',
        'Zipcode' : '1233332'
    }
}

In [36]:
print(len(person))

8

In [37]:
print(person['firstname'])

Al'amin

In [38]:
print(person['lastname'])

Nababa

In [39]:
print(person['skills'])

['HTML', 'CSS', 'JavaScript', 'Python']

In [40]:
print(person['skills'][-1])

Python

In [41]:
print(person['is_married'])

False

In [42]:
print(person['address'])

{'street': 'Space street', 'Zipcode': '1233332'}

In [43]:
print(person['address']['street'])

Space street

In [44]:
person.get('firstname')

"Al'amin"

In [45]:
person.get('lastname')

'Nababa'

In [46]:
person.get('country')

'Nigeria'

In [47]:
person.get('skills')

['HTML', 'CSS', 'JavaScript', 'Python']

In [48]:
person.get('city')

In [49]:
person['status'] = 'Student'

In [50]:
print(person)

{'firstname': "Al'amin", 'lastname': 'Nababa', 'age': 210, 'country': 'Nigeria', 'state': 'Kano', 'is_married': False, 'skills': ['HTML', 'CSS', 'JavaScript', 'Python'], 'address': {'street': 'Space street', 'Zipcode': '1233332'}, 'status': 'Student'}

In [51]:
person['skills'].append('Ds')

In [52]:
print(person)

{'firstname': "Al'amin", 'lastname': 'Nababa', 'age': 210, 'country': 'Nigeria', 'state': 'Kano', 'is_married': False, 'skills': ['HTML', 'CSS', 'JavaScript', 'Python', 'Ds'], 'address': {'street': 'Space street', 'Zipcode': '1233332'}, 'status': 'Student'}

In [53]:
person['skills'][-1] = 'Data Science'

In [54]:
person.get('skills')

['HTML', 'CSS', 'JavaScript', 'Python', 'Data Science']

In [55]:
person.pop('address')

{'street': 'Space street', 'Zipcode': '1233332'}

In [56]:
person

{'firstname': "Al'amin",
 'lastname': 'Nababa',
 'age': 210,
 'country': 'Nigeria',
 'state': 'Kano',
 'is_married': False,
 'skills': ['HTML', 'CSS', 'JavaScript', 'Python', 'Data Science'],
 'status': 'Student'}

In [57]:
person.popitem()

('status', 'Student')

In [58]:
person

{'firstname': "Al'amin",
 'lastname': 'Nababa',
 'age': 210,
 'country': 'Nigeria',
 'state': 'Kano',
 'is_married': False,
 'skills': ['HTML', 'CSS', 'JavaScript', 'Python', 'Data Science']}

In [59]:
del person['state']

In [60]:
person

{'firstname': "Al'amin",
 'lastname': 'Nababa',
 'age': 210,
 'country': 'Nigeria',
 'is_married': False,
 'skills': ['HTML', 'CSS', 'JavaScript', 'Python', 'Data Science']}

In [61]:
person.items()

dict_items([('firstname', "Al'amin"), ('lastname', 'Nababa'), ('age', 210), ('country', 'Nigeria'), ('is_married', False), ('skills', ['HTML', 'CSS', 'JavaScript', 'Python', 'Data Science'])])

In [62]:
person

{'firstname': "Al'amin",
 'lastname': 'Nababa',
 'age': 210,
 'country': 'Nigeria',
 'is_married': False,
 'skills': ['HTML', 'CSS', 'JavaScript', 'Python', 'Data Science']}

In [63]:
person.keys()

dict_keys(['firstname', 'lastname', 'age', 'country', 'is_married', 'skills'])

In [64]:
person.values()

dict_values(["Al'amin", 'Nababa', 210, 'Nigeria', False, ['HTML', 'CSS', 'JavaScript', 'Python', 'Data Science']])

In [65]:
person

{'firstname': "Al'amin",
 'lastname': 'Nababa',
 'age': 210,
 'country': 'Nigeria',
 'is_married': False,
 'skills': ['HTML', 'CSS', 'JavaScript', 'Python', 'Data Science']}

In [66]:
person['skills'].append('TyperScript')

In [67]:
person

{'firstname': "Al'amin",
 'lastname': 'Nababa',
 'age': 210,
 'country': 'Nigeria',
 'is_married': False,
 'skills': ['HTML',
  'CSS',
  'JavaScript',
  'Python',
  'Data Science',
  'TyperScript']}