## Sets

In [46]:
# Creating a Set
st = {}
# or
st = set()

In [47]:
fruits = {'Banana', 'Orange', 'Mango', 'Lemon'}

In [48]:
print(f'This is a set of fruits: {fruits}')

This is a set of fruits: {'Banana', 'Mango', 'Lemon', 'Orange'}

In [49]:
print(len(fruits))

4

In [50]:
mng = 'Mango' in fruits
print(f'Mango is in set of fruits: {mng}')

Mango is in set of fruits: True

In [51]:
fruits.add('Apple')
print(fruits)

{'Banana', 'Mango', 'Lemon', 'Orange', 'Apple'}

In [52]:
fruits.update(['Avocado', 'Strawberry'])
print(fruits)

{'Banana', 'Mango', 'Lemon', 'Strawberry', 'Avocado', 'Orange', 'Apple'}

In [53]:
vegetables = ('tomato', 'potato', 'cabbage','onion', 'carrot')

In [54]:
fruits.update(vegetables)

In [55]:
print(f'Set of Fruits and Vegetables: {fruits}')

Set of Fruits and Vegetables: {'potato', 'Banana', 'Mango', 'cabbage', 'Lemon', 'Strawberry', 'Avocado', 'tomato', 'Orange', 'carrot', 'Apple', 'onion'}

In [56]:
fruits.remove('tomato')
print(fruits)

{'potato', 'Banana', 'Mango', 'cabbage', 'Lemon', 'Strawberry', 'Avocado', 'Orange', 'carrot', 'Apple', 'onion'}

In [57]:
fruits.pop()
print(fruits)

{'Banana', 'Mango', 'cabbage', 'Lemon', 'Strawberry', 'Avocado', 'Orange', 'carrot', 'Apple', 'onion'}

In [58]:
random_pop_item = fruits.pop()
print(f'this is the remove item from the set: {random_pop_item}')

this is the remove item from the set: Banana

In [59]:
fruits.clear()
print(fruits)

set()

In [60]:
f_and_v = {'Banana', 'Mango', 'cabbage', 'Lemon', 'Strawberry', 'Avocado', 'Orange', 'carrot', 'Apple', 'onion'}
print(f_and_v)

{'Banana', 'Mango', 'cabbage', 'Lemon', 'Strawberry', 'Avocado', 'Orange', 'carrot', 'Apple', 'onion'}

In [61]:
del f_and_v
print(f_and_v)

NameError: name 'f_and_v' is not defined

### Converting List to Set

In [62]:
fv = {'Banana', 'Mango', 'cabbage', 'Lemon', 'Strawberry', 'Avocado', 'Orange', 'carrot', 'Apple', 'onion'}
st_f_and_v = list(fv)
print(st_f_and_v)

['Banana', 'Mango', 'cabbage', 'Lemon', 'Strawberry', 'Avocado', 'Orange', 'carrot', 'Apple', 'onion']

In [63]:
# or
v_f = ['Banana', 'Mango', 'cabbage', 'Lemon', 'Strawberry', 'Avocado', 'Orange', 'carrot', 'Apple', 'onion']
vf = set(v_f)
print(vf)

{'Banana', 'Mango', 'cabbage', 'Lemon', 'Strawberry', 'Avocado', 'Orange', 'carrot', 'Apple', 'onion'}

## Joining Set

In [64]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
vegetables = {'tomato', 'potato', 'cabbage','onion', 'carrot'}

In [66]:
fruits.update(vegetables)
print(fruits)

{'potato', 'lemon', 'cabbage', 'orange', 'tomato', 'banana', 'mango', 'carrot', 'onion'}

In [71]:
st1 = {'item1', 'item2', 'item3', 'item4'}
st2 = {'item5', 'item6', 'item7', 'item8'}
st3 = st1.union(st2)
print(st3)

{'item3', 'item5', 'item7', 'item6', 'item8', 'item1', 'item2', 'item4'}

In [72]:
fruits.intersection(vegetables)

{'cabbage', 'carrot', 'onion', 'potato', 'tomato'}

In [73]:
python = {'p', 'y', 't', 'h', 'o','n'}
dragon = {'d', 'r', 'a', 'g', 'o','n'}
python.intersection(dragon)

{'n', 'o'}

In [76]:
whole_numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
even_numbers = {0, 2, 4, 6, 8, 10}
whole_numbers.intersection(even_numbers)

{0, 2, 4, 6, 8, 10}

In [77]:
python.issuperset(dragon)

False

In [78]:
dragon.issuperset(python)

False

In [79]:
whole_numbers.issuperset(even_numbers)

True

In [81]:
even_numbers.issubset(whole_numbers)

True

In [82]:
python.difference(dragon)

{'h', 'p', 't', 'y'}

In [83]:
dragon.difference(python)

{'a', 'd', 'g', 'r'}

In [84]:
whole_numbers.difference(even_numbers)

{1, 3, 5, 7, 9}

In [85]:
even_numbers.difference(whole_numbers)

set()

In [87]:
whole_numbers.symmetric_difference(even_numbers)

{1, 3, 5, 7, 9}

In [88]:
even_numbers.symmetric_difference(whole_numbers)

{1, 3, 5, 7, 9}

In [89]:
some_numbers = {1,2,3,4,5}
some_numbers.symmetric_difference(whole_numbers)

{0, 6, 7, 8, 9, 10}

In [90]:
whole_numbers.symmetric_difference(some_numbers)

{0, 6, 7, 8, 9, 10}

In [91]:
some_numbers.difference(whole_numbers)

set()

In [93]:
whole_numbers.difference(some_numbers).union(even_numbers)

{0, 2, 4, 6, 7, 8, 9, 10}

In [94]:
whole_numbers.isdisjoint(some_numbers)

False

In [95]:
numbers = {11,12,23,}
whole_numbers.isdisjoint(numbers)

True