In [222]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [223]:
print('Lenght of the set in IT companies is: ', len(it_companies))

Lenght of the set in IT companies is:  7

In [224]:
it_companies.add('Twitter')
print(f'Twitter is added to the IT companies: {it_companies}')

Twitter is added to the IT companies: {'Oracle', 'Apple', 'Google', 'Twitter', 'IBM', 'Facebook', 'Microsoft', 'Amazon'}

In [225]:
it_companies.update(['Tesla', 'SpaceX', 'Alphabet'])
print(f'New set of IT Companies: {it_companies}')

New set of IT Companies: {'Alphabet', 'Apple', 'Google', 'Twitter', 'Tesla', 'Amazon', 'Oracle', 'Facebook', 'SpaceX', 'IBM', 'Microsoft'}

In [226]:
it_companies.remove('Microsoft')
print(f'Microsoft is removed from the list of IT companies: {it_companies}')

Microsoft is removed from the list of IT companies: {'Alphabet', 'Apple', 'Google', 'Twitter', 'Tesla', 'Amazon', 'Oracle', 'Facebook', 'SpaceX', 'IBM'}

In [227]:
difference = '''The discard method is different from the remove () method,\nbecause the remove () method will raise an error if the specified item does not exist,\nand the discard () method will not.'''                  
print(difference)

The discard method is different from the remove () method,
because the remove () method will raise an error if the specified item does not exist,
and the discard () method will not.

In [228]:
union = A.union(B)
print(union)

{19, 20, 22, 24, 25, 26, 27, 28}

In [229]:
A.intersection(B)

{19, 20, 22, 24, 25, 26}

In [230]:
B.intersection(A)

{19, 20, 22, 24, 25, 26}

In [231]:
A.issubset(B)

True

In [232]:
B.issubset(A)

False

In [233]:
A.isdisjoint(B)

False

In [234]:
B.isdisjoint(A)

False

In [235]:
A.difference(B)

set()

In [236]:
B.difference(A)

{27, 28}

In [237]:
A.symmetric_difference(B)

{27, 28}

In [238]:
B.symmetric_difference(A)

{27, 28}

In [239]:
del it_companies

In [240]:
del A

In [242]:
del B

In [243]:
age = [22, 19, 24, 25, 26, 24, 25, 24]
age_set = set(age)
print(age_set)

{19, 22, 24, 25, 26}

In [244]:
print(f'Number of elements of list of Ages: {len(age)}')

Number of elements of set of Ages: 8

In [245]:
print(f'Number of elements in set of Ages: {len(age_set)}')

Number of elements in set of Ages: 5

In [246]:
diference_btwn_data_tp = 'Strin is any character you can write on the keyboard it is written as "strn64/j2", \nlist is a collection which is ordered and changeable(modifiable). Allows duplicate members, \nand Tuple is a collection which is ordered and unchangeable or unmodifiable(immutable). Allows duplicate members, \nwhile Set is a collection which is unordered, un-indexed and unmodifiable, but we can add new items to the set. Duplicate members are not allowed'''
print(diference_btwn_data_tp)

Strin is any character you can write on the keyboard it is written as "strn64/j2",
list is a collection which is ordered and changeable(modifiable). Allows duplicate members,
and Tuple is a collection which is ordered and unchangeable or unmodifiable(immutable). Allows duplicate members,
while Set is a collection which is unordered, un-indexed and unmodifiable, but we can add new items to the set. Duplicate members are not allowed

In [247]:
sentence = "I am a teacher and I love to inspire and teach people."
words = sentence.split()
print(words)

['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people.']

In [241]:
# differences between data types

print()

unique_words = set(words)
print('the Unique words are: ', unique_words)
print('The number of unique words are: ', len(unique_words))

NameError: name 'A' is not defined