In [1]:
# EXERCISE DAY 5
# exercise level one
empty_list = []
list_wth_fv_items = ['Samsung','Lenovo','Dell','Hp','MacOs']
# lenght of the list
print(len(empty_list))
print(len(list_wth_fv_items))

0
5

In [7]:
# list sclicing
print('list of five items: ', list_wth_fv_items)
firs_item,middle_item,*last_itme = list_wth_fv_items[::2]
print('First Middle and the last items of the list: ',firs_item,middle_item,*last_itme)

list of five items:  ['Samsung', 'Lenovo', 'Dell', 'Hp', 'MacOs']
First Middle and the last items of the list:  Samsung Dell MacOs

In [5]:
# mixced data types list
mixed_data_types = ['Al\'amin','19','Single','Court road kano state']
it_companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
print('Mixced data types list: ', mixed_data_types)
mixed_data_types.sort()
print(mixed_data_types)

Mixced data types list:  ["Al'amin", '19', 'Single', 'Court road kano state']
['19', "Al'amin", 'Court road kano state', 'Single']

In [132]:
# number of companies a
print(len(it_companies))
first_c,middle_c,*last_c = it_companies[::2]
print(first_c,middle_c,*last_c)
print('Companise: ',it_companies[0:])

7
Facebook Microsoft IBM Amazon
Companise:  ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [8]:
# adding item in the list
it_companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
it_companies.append('IT Company')
print(it_companies)
it_companies.sort()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'IT Company']
['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'IT Company', 'Microsoft', 'Oracle']

In [134]:
# insert
it_companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
it_companies.insert(3, 'IT Company')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'IT Company', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [135]:
# changing to uppercase
it_companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
it_companies[0] = 'FACEBOOK'
print(it_companies)

['FACEBOOK', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [136]:
x = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
y = '# '.join(x)
print(y)

Facebook# Google# Microsoft# Apple# IBM# Oracle# Amazon

In [137]:
# checking if Microsoft is in it_companies
it_companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
print('Microsoft is in it companies: ', 'Microsoft' in it_companies)

Microsoft is in it companies:  True

In [138]:
it_companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

In [139]:
it_companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
it_companies.reverse()
print(it_companies)

['Amazon', 'Oracle', 'IBM', 'Apple', 'Microsoft', 'Google', 'Facebook']

In [140]:
# slicing out the first three companise
it_companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
print(it_companies[3:])

['Apple', 'IBM', 'Oracle', 'Amazon']

In [141]:
it_companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
print(it_companies[0:4])

['Facebook', 'Google', 'Microsoft', 'Apple']

In [142]:
# reemoving the first company
it_companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
it_companies.remove('Facebook')
print(it_companies)

['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [143]:
# Removing the middle company
it_companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
it_companies.remove('Apple')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']

In [144]:
# removing the last comapny
it_companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
it_companies.remove('Amazon')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

In [145]:
# removing all the companies from the list
it_companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
del it_companies[0:]
print(it_companies)

[]

In [146]:
# destroying the lust
it_companies = ['Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon']
it_companies.clear()
print(it_companies)

[]

In [147]:
# joining the list
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
full_stack = front_end+(back_end)
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [148]:
full_stack = front_end+back_end
full_stack.insert(5, 'Python SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python SQL', 'Node', 'Express', 'MongoDB']

In [149]:
# EXERCISE LEVEL 2
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [150]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
mn_age = min(ages)
mx_age = max(ages)
print('The min age is: ', mn_age)
print('The max age is: ', mx_age)
print('The median is: ',ages[4])
# average
average = float(format((ages[0]+ages[1]+ages[2]+ages[3]+ages[4]+ages[5]+ages[6]+ages[7]+ages[8]+ages[9])/2,'.2f'))
print(average)
# range
range = mn_age - mx_age
print(range)
cmpr = abs(mn_age-mx_age)
print(cmpr)

The min age is:  19
The max age is:  26
The median is:  24
114.0
-7
7

In [151]:
# COUNTRY LIST
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad',
  'Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',]
print(countries)

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad', 'Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [152]:
# the middle country
print('The middle country in the country list is: ', countries[98])
print('There is ',len(countries),'countries in the list')

The middle country in the country list is:  Libya
There is  194 countries in the list

In [153]:
# Unpacking countries
countiries_list = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
first_countrt,second_countrt,third_countrt,*scandic = countiries_list
print(first_countrt,second_countrt,third_countrt,*scandic)

China Russia USA Finland Sweden Norway Denmark