In [2]:
numbers = [-4, -3, -2, -1, 0, 2, 4, 6]
nmb = [i for i in numbers if i <= 0]
print(nmb)

[-4, -3, -2, -1, 0]

In [5]:
list_of_lists =[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]
output = [x for b in list_of_lists for y in b for x in y]
print(output)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
lst_nm = [(i**1,i**0,i**1,i**2,i**3,i**4,i**5) for i in range(11)]
lst_nm

[(0, 1, 0, 0, 0, 0, 0),
 (1, 1, 1, 1, 1, 1, 1),
 (2, 1, 2, 4, 8, 16, 32),
 (3, 1, 3, 9, 27, 81, 243),
 (4, 1, 4, 16, 64, 256, 1024),
 (5, 1, 5, 25, 125, 625, 3125),
 (6, 1, 6, 36, 216, 1296, 7776),
 (7, 1, 7, 49, 343, 2401, 16807),
 (8, 1, 8, 64, 512, 4096, 32768),
 (9, 1, 9, 81, 729, 6561, 59049),
 (10, 1, 10, 100, 1000, 10000, 100000)]

In [8]:
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
flatten = [[tp[0].upper(),tp[0][:3].upper(), tp[1].upper(),] for rw in countries for tp in rw]
print(flatten, end=" ")

[['FINLAND', 'FIN', 'HELSINKI'], ['SWEDEN', 'SWE', 'STOCKHOLM'], ['NORWAY', 'NOR', 'OSLO']]

In [9]:
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
mydic = [{'country':tp[0].capitalize(),'city':tp[1].capitalize()} for rw in countries for tp in rw]
print(mydic, end=" ")

[{'country': 'Finland', 'city': 'Helsinki'}, {'country': 'Sweden', 'city': 'Stockholm'}, {'country': 'Norway', 'city': 'Oslo'}]

In [11]:
names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]
output = [n for r in names for c in r for n in c]
print(output)

['Asabeneh', 'Yetayeh', 'David', 'Smith', 'Donald', 'Trump', 'Bill', 'Gates']