EXERCISES

Eercise num1

numbers = [-4, -3, -2, -1, 0, 2, 4, 6]

In [3]:
numbers = [-4, -3, -2, -1, 0, 2, 4, 6]
neg_and_zero = [num for num in numbers 	if num <= 0]
print('Zero and Negative: ', neg_and_zero)

Zero and Negative:  [-4, -3, -2, -1, 0]

Exercise num2

list_of_lists =[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]

In [4]:
listOflists = [[[1,2,3]],[[4,5,6]],[[7,8,9]]]

a = [num for rw in listOflists for num in rw]
b = [num for rw in a for num in rw]

# levels = number -> list > row -> list_of_lists
c = [num for rw in listOflists for list in rw for num in list]
print(f'The flattened list b : {b}\n')
print(f'The flattened list c : {c}')

The flattened list b : [1, 2, 3, 4, 5, 6, 7, 8, 9]

The flattened list c : [1, 2, 3, 4, 5, 6, 7, 8, 9]

Exercise num3

Using list comprehension create the following list of tuples:

[(0, 1, 0, 0, 0, 0, 0),
(1, 1, 1, 1, 1, 1, 1),
(2, 1, 2, 4, 8, 16, 32),
(3, 1, 3, 9, 27, 81, 243),
(4, 1, 4, 16, 64, 256, 1024),
(5, 1, 5, 25, 125, 625, 3125),
(6, 1, 6, 36, 216, 1296, 7776),
(7, 1, 7, 49, 343, 2401, 16807),
(8, 1, 8, 64, 512, 4096, 32768),
(9, 1, 9, 81, 729, 6561, 59049),
(10, 1, 10, 100, 1000, 10000, 100000)]

In [5]:
[(i**1,i**0,i**1,i**2,i**3,i**4,i**5) for i in range(11)]

[(0, 1, 0, 0, 0, 0, 0),
 (1, 1, 1, 1, 1, 1, 1),
 (2, 1, 2, 4, 8, 16, 32),
 (3, 1, 3, 9, 27, 81, 243),
 (4, 1, 4, 16, 64, 256, 1024),
 (5, 1, 5, 25, 125, 625, 3125),
 (6, 1, 6, 36, 216, 1296, 7776),
 (7, 1, 7, 49, 343, 2401, 16807),
 (8, 1, 8, 64, 512, 4096, 32768),
 (9, 1, 9, 81, 729, 6561, 59049),
 (10, 1, 10, 100, 1000, 10000, 100000)]

Exercise num4

Flatten the following list to a new list

Countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]

Output:

[['FINLAND','FIN', 'HELSINKI'], ['SWEDEN', 'SWE', 'STOCKHOLM'], ['NORWAY', 'NOR', 'OSLO']]

In [6]:
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
# Using this to understand
# tpl -> row -> list
flatten = [[tp[0].upper(),tp[0][:3].upper(), tp[1].upper(),] for rw in countries for tp in rw]
print(flatten, end=" ")

[['FINLAND', 'FIN', 'HELSINKI'], ['SWEDEN', 'SWE', 'STOCKHOLM'], ['NORWAY', 'NOR', 'OSLO']]

Exercise num5
   
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]      
   output:
   
[{'country': 'FINLAND', 'city': 'HELSINKI'},

{'country': 'SWEDEN', 'city': 'STOCKHOLM'},

{'country': 'NORWAY', 'city': 'OSLO'}]

In [7]:
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]


mydic = [{'country':tp[0].capitalize(),'city':tp[1].capitalize()} for rw in countries for tp in rw]
print(mydic, end=" ")

[{'country': 'Finland', 'city': 'Helsinki'}, {'country': 'Sweden', 'city': 'Stockholm'}, {'country': 'Norway', 'city': 'Oslo'}]

Exercise num6

names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]
 
output:
['Asabeneh Yetaeyeh', 'David Smith', 'Donald Trump', 'Bill Gates']

In [8]:
names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]
space = "  "

[(name[0] + space + name[1]) for rw in names for name in rw]

['Asabeneh  Yetayeh', 'David  Smith', 'Donald  Trump', 'Bill  Gates']

Exercise num7

In [10]:
# formula y = m * x + c
# taken y-intercept
y_i_c = lambda m,c,x:c
y_i_c(9,6,7)

6

I Aminu Hamza Nababa (Al'amin), I really enjoy Arewa Data Science Academy Data Days of Python.